<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Player Data Table</h1>
    <form method="POST">
        
        <label for="year_start">Year Start:</label>
        <input type="number" id="year_start" name="year_start" min="1999" max="2020">

        <br><br>
        <label for="year_end">Year End:</label>
        <input type="number" id="year_end" name="year_end" min="1999" max="2020">

        <br><br>
        <label for="top_players">Number of Top Players:</label>
        <input type="number" id="top_players" name="top_players" value="10" min="1" max="100">

        <br><br>
        <input type="submit" value="Generate Table">
    </form>

    <!-- Mostrar la tabla si existe -->
    {% if table_html %}
        <h2>Data for {{ selected_country }}</h2>
        <div class="table-responsive">
            {{ table_html | safe }}
        </div>
    {% else %}
        <h2>Select a country and year range to see the table.</h2>
    {% endif %}
</body>
</html>